.navbar{
  position: absolute;
  top: 0;
  left: 0%;
  right: 0%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: start;
}
.logo{
margin-left: 20px;
text-decoration: none;
.name{
    transition: fill 1s;
    font-family: "Roboto";
    &.white{
        fill: #fff !important;
      }
      &.black{
        fill: #000 !important;
      }
}
}
.menu {
    margin-right: 12px;
    position: relative;
    display: flex;
    .selected{
        position: absolute;
        top: -5px;
        z-index: -1;
        height: 0px;
        width: 0px;
        background-color: #fff;
        border-radius: 50%;
        opacity: .2;
        transition: transform .5s ease-in , width .5s ease-in .5s, height .5s ease-in .5s;
    }
    .item{
    padding:8px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    transform: translateX(100%);
    opacity: 0;
    &.active{
        pointer-events: none;
    }
}
}

@media (max-width:700px){
    .menu_mobile{
        display: block !important;
        .nav-icon {
            cursor: pointer;
            margin: 1em;
            width: 30px;
          }
          .nav-icon:after, 
          .nav-icon:before, 
          .nav-icon div {
            background-color: #fff;
            border-radius: 2px;
            content: '';
            display: block;
            height: 2px;
            margin: 7px 0;
            transition: all .4s ease-in-out;
          }
          .nav-icon.active:before {
            background-color: #000;
            transform: translateY(9px) rotate(135deg);
          }
          .nav-icon.active:after {
            background-color: #000;
            transform: translateY(-9px) rotate(-135deg);
          }
          .nav-icon.active div {
            transform: scale(0);
          }
    }
    .menu{
        display: none;
    }
}
.menu_mobile{
    display: none;    
}