.navbar{
    position: fixed;
    top: 0;
    left: 5%;
    right: 5%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: start;
}
.logo{
margin-left: 20px;
.name{
    fill:#fff,
}
}
.menu {
    margin-right: 12px;
    position: relative;
    display: flex;
    .selected{
        position: absolute;
        top: -5px;
        z-index: -1;
        height: 0px;
        width: 0px;
        background-color: #fff;
        border-radius: 50%;
        opacity: .2;
        transition: transform .5s ease-in , width .5s ease-in .5s, height .5s ease-in .5s;
    }
    .item{
    padding:8px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
}
