.Footer{
    &.disable{
        visibility: hidden;
    }
}
.page_numbers{
    display: flex;
}
.numero{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    &.active{
        pointer-events: none;
        div{
            height: 3px;
            width: 20px;
        }
        span{
            color: #fff;
        }
    }
    div{
        height: 0px;
        width: 0px;
        background-color: #fff;
        transition: height  1s , width 1s;
    }
    span{
    font-weight: bold;
    margin: 0px 5px;
    color: #808080;
    }
} 

